<h1>Welcome to home page, {{name}}</h1>
<h2>This is the full home page</h2>
"
<div class="container">
  <h1>Buscar película</h1>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="searchTerm" placeholder="Buscar película">
    <button type="submit">Buscar</button>
  </form>

  {% if searchTerm %}
    <h2>Resultados para "{{ searchTerm }}"</h2>
    {% for movie in movies %}
      <div class="movie-card">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.description }}</p>
        <img src="{{ movie.image.url }}" alt="Imagen de {{ movie.title }}">
        {% if movie.url %}
          <p><a href="{{ movie.url }}">Ver más</a></p>
        {% endif %}
      </div>
    {% empty %}
      <p>No se encontraron películas con ese nombre.</p>
    {% endfor %}
  {% endif %}
</div>